<% provide(:title, 'About Me!!!!!!!!') %>
<h1>About Me!!!!!!!!</h1>
<p>
  Lorelei created this app under the teachings of Sufyan and with the help of the Ruby on Rails Class T.A.s. Good work, guys! Thank you! <%= image_tag("http://img.pandawhale.com/post-32613-emotionless-spelling-bee-winne-CQRg.gif", height: 1088, width: 950) %> 
</p>