<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Lorelei's App</a>
    by Lorelei
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>